
Flask == 1.0
Flask_Bcrypt == 0.7.1
Flask_Login == 0.4.1
Flask_Mail == 0.9.1
Flask_SQLAlchemy == 2.3.2
Flask_WTF == 0.14.2
Pillow == 5.3.0
WTForms == 2.1
itsdangerous == 0.24
werkzeug==0.16.1
psycopg2
pymongo
Flask-PyMongo
